h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 40;

}

/* Colores de los botones */
/* Cambia los colores de los botones */
.btn-secondary { background-color: #4e87c0; } /* Azul brillante */
.btn-success { background-color: #003366; }   /* Verde */
.btn-info { background-color: #123458; }      /* Azul turquesa */
.btn-warning { background-color: #123458; }   /* Amarillo */
.btn-escape { background-color: #ede2d3; }    /* Verde agua */



.marco {
  color: white;
  background-color: #123458;
  font-weight: bold;
  font-size: 40;

}

/* Hover effects */
.btn-secondary:hover, .btn-success:hover, .btn-info:hover, .btn-warning:hover {
  opacity: 0.9;
  }
  .list-group-item {
  font-size: 30px;
  font-weight: bold;
  }
  
  /* Estilos de los botones */
  .list-group-item-action {
  color: white;
  border-radius: 5px;
  }

/* Ajuste para responsividad */
.content-box {
  padding: 15px;
}



@media (max-width: 768px) {
  .btn-secondary, .btn-success, .btn-info, .btn-warning {
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px; /* Reduce el tamaño del texto */
      padding: 8px; /* Ajusta el relleno para que no se vea desproporcionado */
  }
}
.btn-secondary, .btn-success, .btn-info, .btn-warning{
  font-size: 2vw; /* 2% del ancho de la pantalla */
}
.btn-escape{
  font-size: 2vw; /* 2% del ancho de la pantalla */
}
@media (max-width: 768px) {
  .btn-escape {
      width: 7%;
      margin-bottom: 30px;
      font-size: 14px; /* Reduce el tamaño del texto */
      padding: 8px; /* Ajusta el relleno para que no se vea desproporcionado */
  }
}

.dropdown-menu {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #D1F8EF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.bg-yellow {
  background-color: #FFEB3B; /* Amarillo */
}


.dropdown-item {
  color: #003366;
  font-weight: bold;
  padding: 10px 50px;
  text-align: center !important;
  border-bottom: 1px solid #e0e0e0;
  transition: background 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background: #003366;
  color: #D1F8EF;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.btn-light {
  background-color: #D1F8EF;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.btn-light:hover {
  background-color: #D1F8EF;
  color: #003366;
}


.menu {
  background-color: #b6f1e4;

}
/* Estilos base de los botones */
.custom-btn {
width: 100%;
padding: 15px;
font-size: 20px;
font-weight: bold;
color: white;
background-color: #1078e0; /* Azul */
border: none;
border-radius: 10px;
text-transform: capitalize; /* No todo en mayúsculas */
transition: all 0.3s ease-in-out;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Botón verde */
.custom-green {
background-color: #28a745; /* Verde */
}

/* Botón amarillo */
.custom-yellow {
background-color: #ffc107; /* Amarillo */
}

/* Efecto hover */
.custom-btn:hover {
transform: translateY(-3px);
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
opacity: 0.9;
}
