
body {
  
  background-color: #D1F8EF;
}
.login-container {
  background-color: #FFFFFF; /* Fondo blanco para el formulario */
  border: 2px solid #40A2D8; /* Borde del contenedor */
}
h2 {
  color: #0B60B0; /* Título en el color principal */
}
.form-label {
  color: #000000; /* Etiquetas en negro */
}
.btn-primary {
  background-color: #0B60B0;
  border-color: #0B60B0;
}
.btn-primary:hover {
  background-color: #40A2D8;
  border-color: #40A2D8;
}
.btn-outline-secondary {
  color: #0B60B0;
  border-color: #0B60B0;
}
.btn-outline-secondary:hover {
  background-color: #40A2D8;
  border-color: #40A2D8;
  color: #FFFFFF;
}
