
body {
      
  background-color: #D1F8EF;
    padding: 20px; /* Espacio alrededor de toda la página */
}

.register-container {
    background-color: #FFFFFF; /* Fondo del formulario */
    border: 2px solid #40A2D8; /* Borde del formulario */
    padding: 30px; /* Espacio interno del formulario */
    margin: 20px; /* Margen externo para separar del borde del navegador */
}

h3 {
    color: #0B60B0; /* Color del título */
}
.form-label {
    color: #000000; /* Color de las etiquetas */
}
.btn-primary {
    background-color: #0B60B0;
    border-color: #0B60B0;
}
.btn-primary:hover {
    background-color: #40A2D8;
    border-color: #40A2D8;
}
.btn-outline-secondary {
    color: #0B60B0;
    border-color: #0B60B0;
}
.btn-outline-secondary:hover {
    background-color: #40A2D8;
    border-color: #40A2D8;
    color: #FFFFFF;
}