html{
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F1EFEC !important;
    color: #000;
}
nav {
    background-color: #123458;
    padding: 1rem;
}
nav .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 500;
}
nav .navbar-nav .nav-link:hover {
    color: #40A2D8 !important;
}
.contenido {
    text-align: center;
    margin-top: 50px;
    
}
h1 {
    color: #0B60B0;
    font-weight: 500;
}
p {
    color: #000;
}
.button-container .btn {
    background-color: #40A2D8;
    border: none;
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}
.button-container .btn:hover {
    background-color: #0B60B0;
    color: #fff;
}
.button-container a {
    text-decoration: none;
    color: inherit;
}
}