/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #004085; 
    color: #2c3e50;
}

/* Estilo para la barra de navegación */
nav {
    background-color: #004085; 
    color: #000; /* Letras negras */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #1a2530;
}

/* Estilo para el contenido principal */
.contenido {
    background-color: #ffffff;
    padding: 40px;
    color: #030f12;
    text-align: center;
}

h1, p {
    margin: 0;
    font-weight: 500;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

p {
    margin-bottom: 40px;
    font-size: 1.3rem;
}

/* Estilo para los botones */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    margin: 15px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #1a5276; /* Azul rey */
    color: #ecf0f1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button a {
    color: #ecf0f1;
    text-decoration: none;
}

button:hover {
    background-color: #153d58; /* Tonos más oscuros para hover */
    color: #fff;
}

/* Botón Generar Evaluación */
.generate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.generate-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000; /* Fondo negro */
    color: #ecf0f1;
    border: none;
    border-top: 3px solid #000000; /* Azul más fuerte en el borde superior */
    border-bottom: 3px solid #000000; /* Azul más fuerte en el borde inferior */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.generate-button button:hover {
    background-color: #333; /* Fondo gris oscuro en hover */
    color: #fff;
}
